.container {
  margin-top: 8rem !important;
  width: 100%;
}

.img {
  margin-top: 3rem !important;
  width: 20rem !important;
  height: 20rem !important;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.name {
  font-size: 4rem !important;
  font-weight: bold;
  color: #462037;
  font-family: "fantasy" !important;
}

.discription {
  font-size: 1rem !important;
  font-weight: bold;
  color: rgb(143, 139, 139);
  text-align: justify;
}

.box {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #462037;
  align-items: center;
}

.icon {
  color: white;
  padding: 0.7rem;
}

.box1 {
  display: flex;
  justify-content: center;
  background-color: #462037;
  width: 16rem;
  height: 3rem;
  padding: 0.2rem;
  border-radius: 5px;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .img {
    margin-top: -4rem;
    margin-left: 2rem;
  }

  .name {
    text-align: center;
    font-size: 2.5rem !important;

  }

  .box1 {
    width: 100%;
  }
}